:root {
	--spaceColor: #00050C;
	--medColor: #0D2345;
	--textColor: #D4E3FA;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--spaceColor);
  color: var(--textColor);
  font-size:18px;
  font-family: "Anonymous Pro", monospace;
}
button {
	background-color: #ffffff11;
	font-size:1rem;
	color: var(--textColor);
	border: 4px solid var(--textColor);
	padding: 1rem 2rem;
	margin: .5rem;
	font-family: "Anonymous Pro", monospace;
}
button:hover {
	background-color: #ffffff33;
	cursor: pointer;
}
h1 {
	letter-spacing: .1rem;
}

.grid {

}

.headsUp,
.asteroidNav {
  grid-column: 1 / 4;
}

.appWrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 6rem auto 5rem;
	grid-gap: .25rem;
}
.appWrapper * {
	display: flex;
	justify-content: center;
}

.vis {
	border: 1px solid var(--textColor);
	padding: 1rem;
	overflow: hidden;
	max-width: 768px;
	max-height: 768px;
}



#NeoJson {
	display: none;
}
#sizeVis {
	
	display: flex;
	align-items: center;
	flex-direction: column;
}
.asteroidContainer .asteroid {
	stroke: var(--textColor);
	stroke-width: 4px;
	fill: var(--medColor);
	transition:all 300ms ease-in-out;
}